body {
  height: 100vh;
  width: 100%;
}

* {
  font-family: "PT Sans", sans-serif;
  background-color: #363537;
  color: white;
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  --primary-color: #4d8b31;
  --secondary-color: #ffc800;
  --accent-color: #ff8427;
  --text-color: #ffffff;
  --background-color: #363537;
}
