body {
  height: 100vh;
  width: 100%;
}

* {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #4d8b31;
  --secondary-color: #ffc800;
  --accent-color: #ff8427;
  --text-color: #ffffff;
  --background-color: #363537;
}
