PORT="3000"

DB_HOST="db"
DB_NAME="dev_assistant"
DB_PORT="3306"
DB_USER=""      
DB_PASS=""  
DB_ROOT_PASS=""

JWT_SECRET="xyz"

LLM_API_URL="http://ollama:11434/api/generate"
LLM_MODEL="qwen2.5:1.5b"