#chatPage {
  display: flex;
  height: 100vh;
}

#sidebar {
  width: 400px;
  padding: 10px;
  background-color: #2c3e50;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#main {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#chatContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
