#chatPage {
  display: flex;
  height: 100vh;
}

#sidebar {
  width: 400px;
  padding: 10px;
  background-color: #2c3e50;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #2f6397;
  overflow: hidden;
}

#chatContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
}

#chatHeader {
  padding: 10px;
  display: flex;
  justify-content: center;
}

#chatHeader > h2 {
  color: white;
  margin: 0;
  font-size: 16px;
}