#loginPage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg-app);
  gap: 20px;
}

#loginPage h1 {
  font-size: 2rem;
  color: var(--text-main);
  font-weight: 700;
}

#descriptionText {
  color: var(--text-muted);
  margin-bottom: 20px;
}
