#registerPage {
  width: 100%;
  height: 100vh;

  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#descriptionText {
  font-size: 16px;
  font-style: italic;
  color: grey;
}
