#inputFormWrapper {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

#inputForm {
  width: 80%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#inputField {
  width: 100%;
  height: 35px;
  border-radius: 200px;
  padding: 0 15px;
  background-color: white;
}
