.messageRow {
  width: 100%;
  display: flex;
}

.messageRow.USER {
  justify-content: flex-end;
}

.messageRow.LLM {
  justify-content: flex-start;
}

.messageBody {
  color: white;
  padding: 15px 30px;
  border-radius: 15px;
  max-width: 80%;
}

.messageBody > p {
  font-size: 14px;
}

.messageBody.USER {
  background-color: #4a90e2;
}

.messageBody.LLM {
  background-color: darkslategray;
}